{% extends 'users/login.html' %}
{% block title %}
<title> Password Reset </title>
{% endblock %}
{% block forms %}
<div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {% for f in form %}
        <h5 style="color: #dc1616"><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</h5>
        <div class="form-error">{{ f.errors }}</div>
                    <br>
        {% endfor %}
            </fieldset>
            <div class="form-group">
                <button class="login100-form-btn">
                    Reset Password
                </button>
            </div>
        </form>
    </div>
{% endblock %}