{% extends 'news/base.html' %}
{% load static %}
{% block title %}
   <title> {{ title }}</title>
{% endblock %}
{% block contents %}
    <h3 align="right" style="color: #dc1616">Cart</h3>
    <a href="{% url "cart:cart_detail" %}"><img height="70" width="70" align="right" src="{%static 'news/img/cart.png'%}"></a>
             <div class="container">
                       <div class="row">
    {% for product in products %}

    <div class="col-6">
    <h5 style="color: #024598" >{{ product.title }}</h5>
        <br>
        <a href="{{ product.get_absolute_url }}"> <img src="{{ product.image.url }}" class="img-fluid rounded" width="200" height="200"></a>
        <h5 align="left" style="color: #280b54">{{ product.price }} $</h5>
         <div>
        <form action="{% url "cart:cart_add" product.id %}" method="post" class="form-inline">
            <h6>{{ cart_product_form.as_p }}<button type="submit" class="btn btn-danger" >To Cart</button>  </h6>

        {% csrf_token %}
        </form>
    </div>
    <br>
    </div>
    {% endfor %}
                       <hr>
                       </div>
             </div>
{% endblock %}